/* src/index.css */
@import 'reactflow/dist/style.css';

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Sidebarのスタイル（Tailwindを使わない場合の簡易版） */
.flex {
  display: flex;
}
.h-screen {
  height: 100vh;
}
.w-screen {
  width: 100vw;
}
.w-1\/5 {
  width: 20%;
}
.flex-grow {
  flex-grow: 1;
}
.bg-gray-100 {
  background-color: rgb(255, 255, 255)
}
.border-r {
  border-right: 1px solid #9eab25;
}
.p-4 {
  padding: 1rem;
}
